body {
  background-image: url(./img/puppyPrints.png);
  background-repeat: repeat;
  background-size: 25%;
  padding: 30px;
}
h1, h2, p, ul, li, h3, h4, h5  {
  font-family: sans-serif;
}
h1 {
  color: black;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
#rightNav{
  display: inline-block;
  float: right; 
}
.content {
  background-color: white;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color:grey;
}

label {
  display: block;
  margin-bottom:20px;
}

.img-thumbnail {
  width: 17%;
}

.card{
  border: 1px solid black;
  padding: 10px;
}

#bottomRow {
  width: 99%;
   
}

.bottomQuote {
  text-align: center;
  font-style: italic;
}

.blogtext {
  width: 75%;
  height: 100px;

}