body {
  background-color: white;
  padding: 30px;
}

h1, h2, p, ul, li, h3, h4, h5, #blogName {
  font-family: sans-serif;
}

h1 {
  color:black;
}

ul.header {
  background-color: black;
  padding: 0;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

#rightNav{
  display: inline-block;
  float: right; 
}

.content {
  padding: 20px;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}

.active {
  background-color:grey;
}

label {
  display: block;
  margin-bottom:20px;
}

.img-thumbnail {
  width: 17%;
}

#blogTextbox {
  width: 70%;
  height: 100px;

}

.bottomQuote {
  text-align: center;
  font-style: italic;
}

#bottomRow {
  width: 99%;
  bottom:0px; 
}