body {
  background-color: white;
  padding: 30px;
  
}

h1, h2, p, ul, li, h3, h4, h5, #blogName {
  font-family: 'Ubuntu', sans-serif;
}


h1 {
  color:BLACK;
  text-align: center;
}

h4 {
  color: #FF652F;
}

ul.header {
  background-color: BLACK;
  padding: 0;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

#rightNav{
 
  float: right; 
}

.content {
  padding: 20px;
}

.content h2 {
  padding: 0;
  margin: 0;
}

.content li {
  margin-bottom: 10px;
}

.active {
  background-color:#FF652F;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
  background-color: black;
  color: white;
  text-align: center;
}

label {
  display: block;
  margin-bottom:20px;
}

.img-thumbnail {
  width: 17%;
}

.img-cover {
  width: 98%;
  border: 10px solid #FF652F;
  border-radius: 5%;
}

textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 40%;
  width: 100%;
}

.bottomQuote {
  text-align: center;
  font-style: italic;
}

#bottomRow {
  width: 99%;
  bottom:0px; 
}

#titleCard {
  background-color: darkgray;
  color: white;
border: none;
}

#About {
  background-color: darkgray;
  color: white;
}


.card {
  box-shadow: 5px 10px #C5C6C7;
  color: BLACK;
  padding: 20px;

}

.postContainer {
  display: block;
}

#oldPosts {
  margin-bottom: 30px;
}


.card1 {
  color: black;
  padding: 20px;
}



#half {
  background-color: #FF652F;
  color: white;
}

#posts {
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  
}

#quote {
  margin: 30px;
  color: #FF652F
}

.fa {
  padding: 20px;
  font-size: 40px;
  width: 85px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

#socialMedia {
  text-align: center;
}

.fa-facebook {
  background:#FF652F;
  color: white;
}
.fa-twitter {
  background: darkgray;
  color: white;
}

.sButton {
  padding: 60px;
}
#container-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tip1 {
  display: flex;
}
.tip2 {
  display: flex;
}
.userTips {
  display: flex;
}

  #userBody 
    {
      background-color:whitesmoke;
      color: black;
      
    }
    
    
 

@media screen and (max-width: 480px){
#userBody 
  {
    background-color:red;
    color: black;
    
  }
  
  
}

.adam {
  height: 200px;
  width: 400px;
  
}

